# Keycloak Admin Credentials
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=password

# Keycloak Polaris Realm Client Configuration
KEYCLOAK_CLIENT_ID=polaris-client
KEYCLOAK_CLIENT_SECRET=sBbUvTG7qWGbmgwgxKmnEuzqpuE3uGAu

# Polaris Admin Credentials
POLARIS_ADMIN_CLIENT_ID=admin
POLARIS_ADMIN_CLIENT_SECRET=password

# User Credentials (Provisioned in Keycloak)
POLARIS_USER_NAME=sankeerth
POLARIS_USER_PASSWORD=nagapuri
